@font-face {
   font-family: 'LemonMilk';
   src: url('LemonMilk.otf');
}
@font-face {
   font-family:Brushsci;
   src: url(BRUSHSCI.TTF);
}
@font-face {
   font-family: Vgafixg;
   src:url(VGAFIXG.FON);
}
@font-face {
font-family: FUTURIS;
src: url(FUTURIS.TTF);

}

@font-face {
   font-family: pfuniversal-regular-webfont;
   src:url(pfuniversal-regular-webfont.ttf);
}
body {
  background-color:#cccccc;}

.btn {
 text-decoration:none;
  width:200px;

  border-radius:100px;
  position: relative;
  text-align:center;
  display:inline-block;
  height: 200px;
  color:#505050;
  font-size:35px;
  font-family:'roboto';
  background-color:#FFCA28;
transition: all .2s ease;
  overflow: hidden;
  align-items: center;
  margin-left: calc(50% - 100px);
  margin-top:10px;
}
.btn:hover {
-webkit-animation: hello .5s infinite; 
animation: hello .5s infinite; 
}
.btn::after {
  content: '';
  border-radius: 50px;
 position:absolute;
  top:-50px;
  right:0;
  width:90px;
  height:500px;
  background-color:white;
}
.btn::before {
 content:'';
  width:40px;
  height:5px;
  position:absolute;
  top:100px;
  right:0;
  z-index: +1;
  background-color:#FFCA28;
 display: none;
}
.header {
  color: #ffcf41;
  font-size:100px;
  font-family: LemonMilk;
  
  
}
@-webkit-keyframes hello {
  0%   {
width:200px;
    
  }
  
50% {
 width:500px; 
  
}
 
  100% {
   width:200px;
  }


}
@keyframes hello {
  0%   {
width:200px;
    
  }
  
50% {
 width:500px; 
  
}
 
  100% {
   width:200px;
  }


}
