@font-face {
   font-family: LemonMilk;
   src: url(LemonMilk.otf);
}
@font-face {
   font-family:Brushsci;
   src: url(BRUSHSCI.TTF);
}
@font-face {
   font-family: pfuniversal-regular-webfont;
   srr:url(pfuniversal-regular-webfont.ttf);
}
@font-face {
font-family: PF Universal Bold;
src: url(PFUNIVERSAL-REGULAR-WEBFONT.1.TTF);

}
@font-face {
   font-family:'Station';
   src: url(STATION.TTF);
}

body {
  background-color:#949494;
}
.title {
  color:#5D4037; 
  font-size:100px;
  font-family:Brushsci;
  
}
h2 {
  color:#71493d; 
  font-size:50px;
  font-family:arial;
}
h3 {
  color:#71493d;
  font-size:40px;
  font-family:'Station';
}
p {
  color:#71493d; 
  position:absolute;
  bottom:0;
  font-weight:700;
  font-family:'Arial';
}
